@import "../../styles/variables";

.lang_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5%;
  p,
  span {
    font-size: calc(#{$size}/ 1.4);
    font-weight: 600;
  }
  p {
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      opacity: 0.6;
    }
  }
  .disabled {
    opacity: 0.6;
    pointer-events: none;
  }
}
