@import "../../styles/variables";

.lang_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5%;
  select {
    font-size: 15px;
    font-weight: 600;
    width: 100%;
    font-family: inherit;
    color: $color-white;
    background-color: transparent;
    border: 1px solid $color-white;
    border-radius: 5px;
    &:active {
      border: 1px solid $color-white;
    }
    option {
      font-size: 15px;
      font-weight: 600;
      font-family: inherit;
      color: $color-black;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        opacity: 0.6;
      }
    }
  }
}
