@import "../../styles/variables";

.root {
  width: 100%;
  display: grid;
  place-items: center;
  color: $color-white;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(35px);
  position: fixed;
  overflow-x: hidden;
  top: 0;
  padding: 1% 0%;
  z-index: 1002;
  transition: all 0.3s;
  .wrapper {
    width: 90%;
    gap: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      width: 11%;
      height: 100%;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        opacity: 0.7;
      }
    }
    nav {
      display: flex;
      align-items: center;
      width: 50%;
      justify-content: space-between;
      a {
        color: $color-white;
        text-decoration: none;
        font-size: 15px;
        font-weight: 600;
        transition: all 0.3s;
        box-shadow: none;
        &:hover {
          color: $color-orange;
        }
        &:focus {
          outline: none;
          box-shadow: none; /* Adjust as needed */
        }
      }
    }
    .hamburger_icon {
      display: none;
    }
  }
}
.scrolled {
  background-color: #fff;
  border-bottom: 1px solid $color-black;
  nav {
    a {
      color: $color-black !important;
      transition: all 0.3s;
      &:hover {
        color: $color-orange !important;
      }
    }
  }
  .lang_block {
    select {
      color: $color-black !important;
      border-color: $color-black !important;
    }
  }
}
.news_root {
  color: $color-black;
  margin-bottom: 3%;
  background-color: #fff;
  border-bottom: 1px solid $color-black;
  .wrapper {
    gap: 3%;
    nav {
      width: 50%;
      justify-content: space-between;
      a {
        color: $color-black;
        text-decoration: none;
        font-size: 15px;
      }
      .back {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        width: 100% !important;
        gap: 1.5% !important;
        svg {
          width: 2.5% !important;
          height: auto;
        }
      }
    }
    .lang_block {
      select {
        color: $color-black !important;
        border-color: $color-black !important;
      }
    }
  }
}
.back_mobile {
  display: none;
  align-items: center !important;
  justify-content: flex-end !important;
  width: 100% !important;
  gap: 2% !important;
  text-decoration: none;
  color: $color-black;
  font-size: 15px;
  img {
    width: 5% !important;
    height: auto;
  }
}

.burger_root {
  width: 80%;
  display: grid;
  place-items: center;
  z-index: 1003 !important;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  background-color: $color-white;
  border-left: 1px solid $color-black;
  transition: all 0.4s;
  transform: translateX(110%);
  scale: 1;
  opacity: 0;
  .burger_wrapper {
    width: 90%;
    display: grid;
    place-items: center;
    z-index: 1003 !important;
    .span {
      position: absolute;
      top: 2.5%;
      right: 5%;
      width: 7%;
      height: auto;
      z-index: 1003 !important;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        opacity: 0.7;
      }
    }
    nav {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 30px;
      z-index: 1003 !important;
      a {
        color: $color-black;
        text-decoration: none;
        font-size: 20px;
        text-align: center;
        width: 100%;
        margin-bottom: 5%;
      }
    }
    .lang_block {
      width: auto;
      display: flex;
      z-index: 1003 !important;
      align-items: center !important;
      justify-content: center !important;
      // position: absolute;
      // bottom: 5%;
      gap: 2%;
      select {
        font-size: 19px;
        color: $color-black;
        border-color: $color-black;
        option {
          font-size: 19px;
        }
      }
    }
  }
}

.overflow {
  position: fixed;
  width: 100%;
  scale: 1;
  height: 101%;
  background: rgba(0, 0, 0, 0.75);
  top: 0;
  left: 0;
  z-index: 1002 !important;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
}

.show_overflow {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s;
}

.show_burger {
  transform: translateX(0%);
  opacity: 1;
  transition: all 0.4s;
}

@media screen and (min-width: 1550px) {
  .root {
    .wrapper {
      nav {
        a {
          font-size: 17px;
        }
      }
      .lang_block {
        select {
          font-size: 17px;
          option {
            font-size: 17px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .root {
    .wrapper {
      nav {
        width: 60%;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .root {
    .wrapper {
      nav {
        a {
          font-size: 13px;
        }
      }
      .lang_block {
        select {
          font-size: 13px;
          option {
            font-size: 13px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .root {
    .wrapper {
      img {
        width: 12%;
      }
      nav {
        width: 65%;
        a {
          font-size: 13px;
        }
      }
    }
  }
}
@media screen and (max-width: 900px) {
  .root {
    padding: 1.5% 0%;
    .wrapper {
      width: 95%;
      img {
        width: 15%;
      }
      nav {
        width: 70%;
        a {
          font-size: 12px;
        }
      }
      .lang_block {
        select {
          font-size: 12px;
          option {
            font-size: 12px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .root {
    .wrapper {
      img {
        width: 14%;
      }
      nav {
        width: 70%;
        padding: 1.5% 0%;
      }
    }
  }
}
@media screen and (max-width: 750px) {
  .root {
    padding: 2% 0%;
    .wrapper {
      img {
        width: 14%;
      }
      nav {
        a {
          font-size: calc(#{$size}/ 1.35);
        }
      }
      .lang_block {
        select {
          font-size: calc(#{$size}/ 1.35);
          option {
            font-size: calc(#{$size}/ 1.35);
          }
        }
      }
    }
  }
}
@media screen and (max-width: 700px) {
  .root {
    padding: 3% 0%;
    .wrapper {
      img {
        width: 22%;
      }
      nav {
        display: none;
      }
      .lang_block {
        display: none;
      }
      .hamburger_icon {
        display: block;
      }
    }
  }
  .back_mobile {
    display: flex !important;
  }
}
@media screen and (max-width: 500px) {
  .root {
    padding: 3% 0%;
    .wrapper {
      img {
        width: 28%;
      }
    }
  }
}
